.tooltip[data-tool-tip] {
  position: relative;
}

.tooltip[data-tool-tip]:hover::before {
  visibility: visible;
  opacity: 1;
}

.tooltip[data-tool-tip]::before {
  text-align:center;
  content: attr(data-tool-tip);
  visibility: hidden;
  opacity: 0;
  min-width: 100%;
  width: max-content;
  height: max-content;
  position: absolute;
  box-sizing: border-box;
  display: block;
  padding: 4px 8px;
  background-color: #5a5a5a;
  color: white;
  border-radius: 4px;
  font-size: 0.8em;
  font-weight: 500;
  white-space: nowrap;
  transition: opacity ease-out 150ms, bottom ease-out 150ms;
}

.tooltip::before {
  right: 100%;
  top: 0;
  bottom: 0;
  margin: auto 5px;
}